html,
body {
  @apply bg-white my-0 mx-auto h-full w-full;
}

a {
  @apply no-underline;
}

* {
  @apply box-border p-0 m-0;
}

button {
  @apply focus:outline-none;
}

.wrapper {
  width: 80%;
  margin: 0 auto !important;
}

.card-text {
  width: auto !important;
  max-width: 500px;
  @apply text-lg text-gray-200;
}

.phn .call-icon {
  @apply transform;
  --tw-rotate: 135deg;
}

.left-padding-desktop {
  padding-left: 10%;
}

.btn-alt .btn-icon {
  @apply text-blue-400 w-5 h-5 mr-2;
}

.MuiSnackbar-root .MuiSnackbarContent-root {
  @apply bg-blue-400 rounded-sm text-gray-900 font-bold;
}

.btn.link,
.btn-alt.link {
  @apply p-0;
}

.btn.link > a,
.btn-alt.link > a {
  @apply px-4 py-2 w-full h-full flex flex-row items-center justify-center;
}

#recent-meetings {
  max-width: 70%;
}

.video {
  @apply bg-black rounded;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.video.inverted {
  @apply transform -scale-x-1;
}
.video-wrapper {
  position: relative !important;
  width: 100% !important;
  padding-top: 56.25% !important;
}

.video-label {
  @apply text-gray-200 text-sm flex flex-row items-center justify-between p-0.5 mx-auto my-0;
  width: 95%;
}

.participant-video {
  @apply bg-gray-900 rounded-md p-1;
  height: min-content;
  min-width: 400px;
  width: 35%;
}

#video-call {
  height: calc(100vh - 5rem);
}

#video-grid {
  height: calc(100vh - 10rem);
}

@media only screen and (max-width: 1024px) {
  .participant-video {
    min-width: 300px;
    width: 30%;
  }
}
@media only screen and (max-width: 768px) {
  .participant-video {
    width: auto !important;
  }

  #recent-meetings {
    max-width: 90%;
  }
}

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 90%;
  }

  .homepage-image-wrapper > div {
    height: 280px;
    width: 100%;
    overflow: hidden;
  }

  .homepage-image-wrapper > div > img {
    width: 100%;
  }

  .left-padding-desktop {
    padding-left: 0;
  }

  .card-text {
    width: auto !important;
  }

  #chat-panel {
    display: none !important;
  }

  .participant-video {
    width: auto !important;
  }
}
