@font-face {
  font-family: SegoeUI;
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf)
      format('truetype'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.svg#web)
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf)
      format('truetype'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.svg#web)
      format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf)
      format('truetype'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.svg#web)
      format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf)
      format('truetype'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.svg#web)
      format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2)
      format('woff2'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff)
      format('woff'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf)
      format('truetype'),
    url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.svg#web)
      format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: SegoeUI;
  src: url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light-Italic/latest.eot),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light-Italic/latest.eot?#iefix)
      format('embedded-opentype'),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light-Italic/latest.woff)
      format('woff'),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light-Italic/latest.ttf)
      format('truetype'),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Light-Italic/latest.svg#web)
      format('svg');
  font-weight: normal;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: SegoeUI;
  src: url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold-Italic/latest.eot),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold-Italic/latest.eot?#iefix)
      format('embedded-opentype'),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold-Italic/latest.woff)
      format('woff'),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold-Italic/latest.ttf)
      format('truetype'),
    url(https://i.s-microsoft.com/fonts/Segoe-UI/Cyrillic/Semibold-Italic/latest.svg#web)
      format('svg');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
