html,
body {
  @apply bg-white my-0 mx-auto h-full w-full;
}

a {
  @apply no-underline;
}

* {
  @apply box-border p-0 m-0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.card-text {
  width: auto !important;
  max-width: 500px;
  @apply text-lg text-gray-200;
}

.phn .call-icon {
  @apply transform;
  --tw-rotate: 135deg;
}

.left-padding-desktop {
  padding-left: 10%;
}

.btn-alt .btn-icon {
  @apply text-blue-400 w-5 h-5 mr-2;
}

.btn.link,
.btn-alt.link {
  @apply p-0;
}

.btn.link > a,
.btn-alt.link > a {
  @apply px-4 py-2 w-full h-full flex flex-row items-center justify-center;
}

.video {
  @apply bg-black flex-1 rounded object-cover m-2;
  @apply max-w-xs max-h-32 sm:max-w-md sm:max-h-72;
  /* @apply w-56 h-32 sm:h-72 sm:w-100; */
}

@media only screen and (max-width: 640px) {
  .wrapper {
    width: 90%;
  }

  .homepage-image-wrapper > div {
    height: 280px;
    width: 100%;
    overflow: hidden;
  }

  .homepage-image-wrapper > div > img {
    width: 100%;
  }

  .left-padding-desktop {
    padding-left: 0;
  }

  .card-text {
    width: auto !important;
  }

  #chat-panel {
    display: none !important;
  }
}
